// 共通スタイル
@use "../utils/variables" as g;
@use "../utils/mixin" as m;


/* —— マスク/グラデ同期の共通（roundtableは含めない） —— */
.text-en,
.text-jp {
  display: inline-block;
  --reveal: 0%;
  will-change: clip-path, background-size;
}
.text-en { position: relative; display: inline-block; }

.text-en > .reveal {
  display: inline-block;
  background: linear-gradient(76deg, #691902 0%, #954802 100%);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: var(--reveal, 0%) 100%;   /* 可視幅に合わせてグラデを縮める */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;

  /* ← このマスクで未公開部分を確実に隠す */
  clip-path: inset(0 calc(100% - var(--reveal, 0%)) 0 0);
  will-change: clip-path, background-size;
}

.text-jp { clip-path: inset(calc(100% - var(--reveal)) 0 0 0); }

//BG 射線
.bg-parts-item {
        position: absolute;
        z-index: 2;
        will-change: transform;
        &.bg-parts-l-top-01 {
             position: absolute;
            display: none;
            @media (min-width: g.$desktop-breakpoint-md) {
                display: block;
                width: 61px;
                top: 10%;
                left: 4%;
            }
        }

        &.bg-parts-r-top-01 {
             position: absolute;
             display: none;
            @media (min-width: g.$desktop-breakpoint-md) {
                display: block;
                width: 5px;
                top: 18%;
                right: 6%;
            }
        }

        &.bg-parts-l-top-02 {
             position: absolute;
            display: none;
            @media (min-width: g.$desktop-breakpoint-md) {
                display: block;
                width: 61px;
                top: 60%;
                left: 4%;
            }
        }

        &.bg-parts-r-top-02 {
             position: absolute;
             display: none;
            @media (min-width: g.$desktop-breakpoint-md) {
                display: block;
                width: 5px;
                top: 68%;
                right: 6%;
            }
        }

        &.bg-parts-l-01 {
             position: absolute;
            display: none;
            @media (min-width: g.$desktop-breakpoint-md) {
                display: block;
                width: 61px;
                bottom: -10%;
                left: 4%;
            }
        }

        &.bg-parts-r-01 {
             position: absolute;
             display: none;
            @media (min-width: g.$desktop-breakpoint-md) {
                display: block;
                width: 5px;
                bottom: 18%;
                right: 6%;
            }
        }

        &.bg-parts-l-02 {
             position: absolute;
            display: none;
            @media (min-width: g.$desktop-breakpoint-lg) {
                display: block;
                width: 44px;
                bottom: -10%;
                left: 4%;
            }
        }

        &.bg-parts-r-02 {
             position: absolute;
            display: none;
            @media (min-width: g.$desktop-breakpoint-lg) {
                display: block;
                width: 98px;
                bottom: -20%;
                right: 4%;
            }
        }
        
        &.bg-parts-r-03 {
             position: absolute;
            display: none;
            @media (min-width: g.$desktop-breakpoint-lg) {
                width: 5px;
                bottom: -20%;
                right: 6%;
            }
        }

        &.bg-parts-l-03 {
             position: absolute;
            display: none;
            @media (min-width: g.$desktop-breakpoint-lg) {
                display: block;
                width: 37px;
                bottom: -8%;
                left: 3%;
            }
        }

        &.bg-parts-r-04 {
             position: absolute;
            display: none;
            @media (min-width: g.$desktop-breakpoint-lg) {
                display: block;
                width: 5px;
                bottom: -14%;
                right: 5%;
            }
        }
        
        &.bg-parts-r-05 {
             position: absolute;
            display: none;
             z-index: 3;             
            @media (min-width: g.$desktop-breakpoint-lg) {
                display: block;
                width: 31px;
                bottom: 24%;
                right: 5%;
            }
        }

        &.bg-parts-r-01-sp {
             position: absolute;
            width: 27px;
            bottom: -12%;
            right: 4%;
            @media (min-width: g.$desktop-breakpoint-md) {
                display: none;
            }
        }

        &.bg-parts-r-02-sp {
             position: absolute;
            width: 2px;
            bottom: -4%;
            right: 6%;
            @media (min-width: g.$desktop-breakpoint-md) {
                display: none;
            }
        }

        &.bg-parts-l-01-sp {
             position: absolute;
            width: 12px;
            bottom: -6%;
            left: 4%;
            @media (min-width: g.$desktop-breakpoint-md) {
                display: none;
            }
        }

        &.bg-parts-r-03-sp {
             position: absolute;
            width: 2px;
            bottom: -8%;
            right: 4%;
            @media (min-width: g.$desktop-breakpoint-md) {
                display: none;
            }
        }

        &.bg-parts-l-02-sp {
             position: absolute;
            width: 12px;
            bottom: -2%;
            left: 4%;
            @media (min-width: g.$desktop-breakpoint-md) {
                display: none;
            }
        }

        &.bg-parts-l-03-sp {
             position: absolute;
            width: 12px;
            bottom: 1%;
            left: 4%;
            z-index: 10;
            @media (min-width: g.$desktop-breakpoint-md) {
                display: none;
            }
        }

         &.bg-parts-r-04-sp {
             position: absolute;
            width: 2px;
            bottom: -4%;
            right: 4%;
            z-index: 10;
            @media (min-width: g.$desktop-breakpoint-md) {
                display: none;
            }
        }
    }
    