// 共通スタイル
@use "../utils/variables" as g;
@use "../utils/mixin" as m;

.l-main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  @media only screen and (min-width: g.$desktop-breakpoint-md) {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &.full {
    padding: 0;
  }

  .l-pagebody {
    width: 100%;
    @include m.mx-auto;

    &.box {
      //width: 980px;
      width: 1000px;
    }
  }
}

.p-section {
  width: 100%;
  @include m.mx-auto;
  position: relative;
  //padding: 65px 0;
  padding: 55px 0 55px;
  @media only screen and (min-width: g.$desktop-breakpoint-md) {
    //padding: 125px 0;
    padding: 95px 0;
  }
  &.p-0 {
    padding: 0;
  }
}

.container-box {
  width: 100%;
  @include m.mx-auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  position: relative;
  max-width: 1065px;
   
  @media only screen and (min-width: g.$desktop-breakpoint-md) {
    max-width: 1065px;
  }

  &.container-md-box {
    padding-left: 0;
    padding-right: 0;
    @media only screen and (min-width: g.$desktop-breakpoint-md) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &.container-lg-box {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1240px;
    @media only screen and (min-width: g.$desktop-breakpoint-md) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &.container-md-box {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1080px;
    @media only screen and (min-width: g.$desktop-breakpoint-md) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

   &.container-sm-box {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 720px;
    @media only screen and (min-width: g.$desktop-breakpoint-md) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &.px-sm-0 {
    padding-left: 0;
    padding-right: 0;
    @media only screen and (min-width: g.$desktop-breakpoint-md) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.container-fluid {
  width: 100%;
}

.row-center {
  display: flex;
  align-items: center;
}

.fixed-btn-link {
  position: fixed;
  right: 0;
  bottom: 30%;
  display: none;
  width: 80px;
  z-index: 11;

  @media only screen and (min-width: g.$desktop-breakpoint-lg) {
    display: block;
  }

  &__a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 160px;
    padding: 30px 0;
    border-radius: 4px 0 0 4px;
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
    background-image: linear-gradient(
      180deg,
      #BA4C00 0%,
      #8B1800 67%,
      #671800 100%
    );
    box-shadow: 0 8px 18px rgba(0,0,0,.16);
    transition: transform .06s ease;
    isolation: isolate;              // 積層を安定化

    /* hover オーバーレイ（白0.2） */
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
      background-color: rgba(g.$white,0);
      pointer-events: none;
      transition: background-color .3s ease;
      z-index: 0;
    }
    &:hover::after { background-color: rgba(g.$white,.3); }

    &:active { transform: translateY(1px); }
    &:focus-visible {
      outline: 3px solid rgba(255,255,255,.15);
      outline-offset: 2px;
    }

    > * { position: relative; z-index: 1; } // テキストは前面

    img {
      width: 45px;
    }
  }
}


.fixed-page-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 32px;
  z-index: 11;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  @media only screen and (min-width: g.$desktop-breakpoint-lg) {
      right: 20px;
      bottom: 50px;
      width: 47px;
  }

  &.is-show {
    opacity: 1;
    visibility: visible;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

//a[target="_blank"]::after {
a.target-blank::after {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 0.3em;
  background: url("/shinsotsu/assets/img/common/ico_link.svg") no-repeat center;
  background-size: contain;
  vertical-align: middle;
}


