// 共通スタイル
@use "../utils/variables" as g;
@use "../utils/mixin" as m;

//

.p-section {

}
#works {
    font-family: g.$font-noto-sans;
    color: #333333;
    //background: linear-gradient(to bottom, rgba(#F5F6F8, 0) 0%, #F5F6F8 100%);
    position: relative;
    .l-main {
        position: relative;
        padding-top: 100px;
        @media (min-width: g.$desktop-breakpoint-md) {
            
        }
    }

    //キービジュアル
    .page-sub-hero {
        position: relative;
        width: 100%;
        overflow: hidden;
        box-sizing: border-box;
        height: 321px;
        background-image: url(/shinsotsu/assets/img/works/kv_sp.webp);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        @media (min-width: g.$desktop-breakpoint-md) {
            background-image: url(/shinsotsu/assets/img/works/kv_pc.webp);
            height: 314px;
            background-position: right top;
        }
    }

    .page-sub-hero__titlebox {
        position: absolute;
        z-index: 5;
        bottom: 55px;
        left: 20px;
        width: 100%;
        padding-bottom: 5px;
        @media (min-width: g.$desktop-breakpoint-md) {
            width: 100%;
            top: 45px;
            bottom: auto;
            left: 8%;
        }

        &:after {
            content: "";
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 100%;
            height: 1px;
            background-color: #254574;
            max-width: 220.5px;
            @media (min-width: g.$desktop-breakpoint-md) {
                max-width: 446.5px;
            }
        }
    }

    .title-sub-page-sub-hero-headding {
        display: inline-flex;
        flex-flow: column;
        position: relative;
        .text-jp-hero {
            display: inline-block;
            font-weight: 500;
            font-size: 0.75rem;
            color: #333333;
            position: relative;
            line-height: 1;
            padding: 15px 15px 18px 0;
            width: auto;
            @media (min-width: g.$desktop-breakpoint-md) {
                width: auto;
                font-weight: 400;
                font-size: 1.125rem;
                padding: 15px 15px 18px 0;
            }

            &:before,
            &:after {
                content: "";
                background-color: #BCC2CB;
                width: 26px;
                height: 26px;
                position: absolute;
            }

            &:before {
                height: 1px;
                bottom: 10px;
                right: 0;
            }

            &:after {
                width: 1px;
                bottom: 5px;
                right: 5px;
            }

        }

        .text-en-hero {
            display: block;
            font-family: g.$font-public-sans;
            font-style: italic;
            font-weight: 500;
            font-size: 2.375rem;
            color: #954802;
            background: linear-gradient(76deg, #691902 0%, #954802 100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent;
            line-height: 1;
            @media (min-width: g.$desktop-breakpoint-md) {
                font-size: 2.625rem;
            }
        }
    }

    //
    .page-works {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .layout {
        @include m.mx-auto;
        width: 100%;
        max-width: 1030px;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        padding: 60px 20px;
        @media (min-width: g.$desktop-breakpoint-md) {
            justify-content: space-between;
            align-items: flex-start;
            padding: 100px 20px;
            display: flex;
            flex-wrap: wrap;
        }
    }

     .main-contents {
        width: 100%;
    }


    .page-navs {
        margin-bottom: 60px;
        @media (min-width: g.$desktop-breakpoint-md) {
            margin-bottom: 100px;
        }
    }

    .page-nav-list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .page-nav-list-item {
            font-size: 0.875rem;
            position: relative;
            @media (min-width: g.$desktop-breakpoint-md) {
                font-size: 0.875rem;
            }
            @media (min-width: g.$desktop-breakpoint-md) {
                font-size: 0.75rem;
            }
            @media (min-width: g.$desktop-breakpoint-xl) {
                font-size: 1.125rem;
            }

            &::after {
                content: "|";
                margin: 0 10px;
                padding: 0;
                @media (min-width: g.$desktop-breakpoint-md) {
                    font-size: 1.125rem;
                    margin: 0 10px;
                }
            }

            &:last-child {
                &::after {
                    display: none;
                }                    
            }

            a {
                color: #274374;
                text-decoration: none;
            }
        }
    }

    .title-section-works {
        position: relative;
        font-size: 1.125rem;
        font-weight: 700;
        color: #274374;
        padding-bottom: 10px;
        margin-bottom: 10px;
        @media (min-width: g.$desktop-breakpoint-md) {
            font-size: 2.5rem;
            padding-bottom: 20px;
            margin-bottom: 70px;
        }

        .text {
            position: relative;
            z-index: 3;
        }

        &:before {
            content: "";
            width: 40px;
            height: 1px;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: #004668;
            @media (min-width: g.$desktop-breakpoint-md) {
                width: 100px;
                height: 2px;
            }
        }

        &:after {
            content: "";
            background-image: url(/shinsotsu/assets/img/works/bg_title_contents_parts.webp);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 101.29px;
            height: 100px;
            position: absolute;
            left: 20px;
            top: 3%;
            transform: translateY(-50%);
            z-index: 1;
            @media (min-width: g.$desktop-breakpoint-md) {
                width: 185.95px;
                height: 183.58px;
                left: 40px;
            }
        }
    }

    .title-sub-section-works {
        position: relative;
        font-size: 1.0625rem;
        font-weight: 500;
        color: #274374;
        margin-bottom: 20px;
        @media (min-width: g.$desktop-breakpoint-md) {
            font-size: 1.625rem;
            margin-bottom: 30px;
        }
    }

    .contents-intro {
        position: relative;
        font-size: 0.875rem;
        font-weight: 400;
        margin-bottom: 20px;
        line-height: 1.8;
        @media (min-width: g.$desktop-breakpoint-md) {
            font-size: 1.125rem;
            margin-bottom: 45px;
        }
    }

    .works-block {
        padding-bottom: 40px;
        @media (min-width: g.$desktop-breakpoint-md) {
            padding-bottom: 60px;
        }
    }

    ////
    .works-card-list {
        display: block;
        gap: 15px;
        width: 100%;
        box-sizing: border-box;
        @media (min-width: g.$desktop-breakpoint-md) {
            gap: 12px;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    }

    .works-card-01 {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #F5F6F7;
        border-radius: 10px;
        overflow: hidden;
        box-sizing: border-box;
        transition: all 0.3s ease;
        margin-bottom: 15px;
        height: 370px;

        &:last-child {
            margin-bottom: 0;
        }

        img {
            width: 100%;
            height: 220px;
            object-fit: cover;
            display: block;
        }

        .works-card-01-body {
            padding: 20px 20px;
            @media (min-width: g.$desktop-breakpoint-md) {
                padding: 35px 25px;
            }
        }

        .works-card-01-title {
            font-size: 0.875rem;
            font-weight: 700;
            line-height: 1.4;
            width: 100%;
            border-bottom: solid 1px #6B7EA0;
            margin-bottom: 10px;
            padding-bottom: 10px;
            @media (min-width: g.$desktop-breakpoint-md) {
                font-size: 1rem;
                margin-bottom: 15px;
                padding-bottom: 15px;
            }

            &.title-only {
                border-bottom: solid 0;
                padding-bottom: 5px;
                margin-bottom: 0;
                @media (min-width: g.$desktop-breakpoint-md) {
                    padding-bottom: 5px;
                    margin-bottom: 0;
                }
            }
        }

        .works-card-01-text {
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.8;
            width: 100%;
            @media (min-width: g.$desktop-breakpoint-md) {
                font-size: 1rem;
            }
        }
    }

    .flow-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 35px;
        margin-top: 60px;
        box-sizing: border-box;
        @media (min-width: g.$desktop-breakpoint-md) {
            gap: 50px;
        }
    }

    .flow-item {
        display: block;
        gap: 20px;
        width: 100%;
        position: relative;
        box-sizing: border-box;
        border: solid 1px #BCC2CB;
        background-color: #ffffff;
        padding: 20px 15px;
        @media (min-width: g.$desktop-breakpoint-md) {
            display: flex;
            align-items: flex-start;
            align-items: center;
            padding: 0;
        }

        &:after {
            content: "";
            width: 1px;
            height: 50px;
            background-color: #BCC2CB;
            left: 50%;
            bottom: -40px;
            transform: translateX(-50%);
            position: absolute;
            @media (min-width: g.$desktop-breakpoint-md) {
                align-items: center;
                height: 80px;
                bottom: -60px;
            }
        }

        &:last-child {
            &:after {
                display: none;
            }
        }


        // 番号
        .flow-no {
            font-size: 2.5rem;
            font-weight: 400;
            color: #274374;
            line-height: 1;
            flex-shrink: 0;
            text-align: center;
            position: absolute;
            left: 10px;
            top: -25px;
            font-family: g.$font-public-sans;
            @media (min-width: g.$desktop-breakpoint-md) {
                font-size: 4rem;
                left: 15px;
                top: -30px;
            }
        }

        // 画像部分
        .flow-img {
            flex-shrink: 0;
            width: 115px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            @include m.mx-auto;
            margin-bottom: 15px;
            @media (min-width: g.$desktop-breakpoint-md) {
                width: 200px;
                margin: 0;
            }

            img {
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }

        // 本文エリア
        .flow01-body {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            box-sizing: border-box;
            @media (min-width: g.$desktop-breakpoint-md) {
                padding: 30px 40px 30px 0;
            }

            .flow01-title {
                font-weight: 700;
                color: #274374;
                margin-bottom: 10px;
                font-size: 1.0625rem;
                line-height: 1;
                text-align: center;
                @media (min-width: g.$desktop-breakpoint-md) {
                    font-size: 1.5rem;
                    margin-bottom: 20px;
                    text-align: left;
                }
            }

            .flow01-text {
                font-size: 0.75rem;
                line-height: 1.8;
                @media (min-width: g.$desktop-breakpoint-md) {
                    font-size: 1.125rem;
                }
            
            }
        }
    }

    #flow01 { z-index: 2;}
    #flow02 { z-index: 3;}
    #flow03 { z-index: 4;}
    #flow04 { z-index: 5;}
    #flow05 { z-index: 6;}
    #flow06 { z-index: 7;}

    .voice-section {
        background: linear-gradient(135deg, #DDE8EF 0%, #EDEBE8 100%);
        padding: 45px 0;
        @media (min-width: g.$desktop-breakpoint-md) {
            padding: 100px 0;
        }

        .title-section-works-voice {
            position: relative;
            font-size: 1.125rem;
            font-weight: 700;
            color: #274374;
            padding-bottom: 10px;
            margin-bottom: 30px;
            width: 100%;
            text-align: center;
            @media (min-width: g.$desktop-breakpoint-md) {
                font-size: 2.5rem;
                padding-bottom: 20px;
                margin-bottom: 125px;
            }

            .text {
                position: relative;
                z-index: 3;
            }
        }

        .voice-list {
            display: flex;
            flex-direction: column;
            gap: 80px;
            width: 100%;
            margin-top: 80px;
            box-sizing: border-box;
            @media (min-width: g.$desktop-breakpoint-md) {
                gap: 90px;
            }
            @media (min-width: g.$desktop-breakpoint-lg) {
                gap: 125px;
            }
        }

        .voice-item {
            display: block;
            gap: 0;
            width: 100%;
            height: 100%;
            transition: all 0.3s ease;
            position: relative;
            text-decoration: none;
            padding: 20px;
            box-sizing: border-box;
            @media (min-width: g.$desktop-breakpoint-md) {
                font-size: 2.5rem;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                display: block;
                background-color: g.$white;
                background-image: 
                url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" opacity="0.15"><filter id="n"><feTurbulence type="fractalNoise" baseFrequency="0.5" numOctaves="3"/></filter><rect width="100" height="100" filter="url(#n)"/></svg>');
                background-repeat: repeat;
                box-shadow: 10px 10px 25px 0 rgba(#000000, 0.1);
                opacity: 0.6;
                border-radius: 20px;
            }

            @media (min-width: g.$desktop-breakpoint-md) {
                &:hover {
                    &:after {
                        box-shadow: 0px 4px 4px 0px rgba(#000000, 0.1);
                    }
                }
            }


            .voice-item-img {
                position: relative;
                z-index: 3;
                width: 100%;
                overflow: hidden;
                aspect-ratio: 283 / 180;
                @media (min-width: g.$desktop-breakpoint-md) {
                    aspect-ratio: 490 / 480;
                    top: -30px;
                    left: 4%;
                    width: 36%;
                    position: absolute;
                }

                @media (min-width: g.$desktop-breakpoint-lg) {
                    top: -65px;
                    width: 40%;
                }

                &.right-box {
                    @media (min-width: g.$desktop-breakpoint-md) {
                    left: auto;
                    right: 4%;
                    }
                }

                img {
                    position: absolute;
                    inset: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center top;
                    display: block;
                }
            }


            .voice-item-body {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative;
                z-index: 3;
                padding: 30px 0 50px;
                @media (min-width: g.$desktop-breakpoint-md) {
                    padding: 50px 0 65px;
                    margin-left: 48%;
                }
                @media (min-width: g.$desktop-breakpoint-lg) {
                    padding: 75px 0 100px;
                }
                @media (min-width: g.$desktop-breakpoint-xl) {
                    padding: 75px 0 125px;
                }

                &.left-box {
                    @media (min-width: g.$desktop-breakpoint-md) {
                        margin-left: 4%;
                        margin-right: 48%;
                    }
                }

            }

            .works-card-01-no {
                font-size: 3.125rem;
                line-height: 1;
                font-family: g.$font-public-sans;
                position: absolute;
                top: -55px;
                left: -10px;
                color: #274374;
                @media (min-width: g.$desktop-breakpoint-md) {
                    font-size: 5.5rem;
                    top: -45px;
                    left: auto;
                }
                @media (min-width: g.$desktop-breakpoint-lg) {
                    font-size: 7.5rem;
                    top: -65px;
                }
            }

            .works-card-01-title {
                font-size: 1.375rem;
                font-weight: 600;
                color: #274374;
                position: relative;
                padding-bottom: 15px;
                margin-bottom: 15px;
                line-height: 1.4;
                font-family: g.$font-noto-serif;
                @media (min-width: g.$desktop-breakpoint-md) {
                    font-size: 2rem;
                    padding-bottom: 20px;
                    margin-bottom: 45px;
                }
                @media (min-width: g.$desktop-breakpoint-lg) {
                    font-size: 2.875rem;
                }

                &:after {
                    content: "";
                    background-color: #6B7EA0;
                    width: 25px;
                    height: 1px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    @media (min-width: g.$desktop-breakpoint-md) {
                        width: 95px;
                    }
                }
            }

            .works-card-01-text {
                font-size: 0.75rem;
                line-height: 1;
                margin-bottom: 5px;
                @media (min-width: g.$desktop-breakpoint-md) {
                    font-size: 1rem;
                    margin-bottom: 15px;
                }
                @media (min-width: g.$desktop-breakpoint-lg) {
                    font-size: 1.25rem;
                    
                }
            }

            .name {
                font-size: 1.375rem;
                line-height: 1;
                font-family: g.$font-noto-serif;
                font-weight: 500;
                @media (min-width: g.$desktop-breakpoint-md) {
                    font-size: 1.8125rem;
                }
                @media (min-width: g.$desktop-breakpoint-lg) {
                    font-size: 2.375rem;
                }
            }

            svg {
                width: 35px !important;
                height: auto !important;
                position: absolute;
                z-index: 3;
                right: 20px;
                bottom: 20px;
                @media (min-width: g.$desktop-breakpoint-md) {
                    width: 43px !important;
                    right: 45px;
                    bottom: 45px;
                }

                &.left-svg {
                    @media (min-width: g.$desktop-breakpoint-md) {
                        right: auto;
                        left: 48%;
                        bottom: 45px;
                    }
                }
            }
        }

    }
}