// 共通スタイル
@use "../utils/variables" as g;
@use "../utils/mixin" as m;

//

.p-section {

}
#about {
    font-family: g.$font-noto-sans;
    color: #333333;
    //background: linear-gradient(to bottom, rgba(#F5F6F8, 0) 0%, #F5F6F8 100%);
    position: relative;
    .l-main {
        position: relative;
        padding-top: 100px;
        @media (min-width: g.$desktop-breakpoint-md) {
            
        }
    }

    //キービジュアル
    .page-sub-hero {
        position: relative;
        width: 100%;
        overflow: hidden;
        box-sizing: border-box;
        height: 321px;
        background-image: url(/assets/img/about/kv_sp.webp);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        @media (min-width: g.$desktop-breakpoint-md) {
            background-image: url(/assets/img/about/kv_pc.webp);
            height: 314px;
            background-position: right top;
        }
    }

    .page-sub-hero__titlebox {
        position: absolute;
        z-index: 5;
        bottom: 55px;
        left: 20px;
        width: 100%;
        padding-bottom: 5px;
        @media (min-width: g.$desktop-breakpoint-md) {
            width: 100%;
            top: 45px;
            bottom: auto;
            left: 8%;
        }

        &:after {
            content: "";
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 100%;
            height: 1px;
            background-color: #254574;
            max-width: 220.5px;
            @media (min-width: g.$desktop-breakpoint-md) {
                max-width: 446.5px;
            }
        }
    }

    .title-sub-page-sub-hero-headding {
        display: inline-flex;
        flex-flow: column;
        position: relative;
        .text-jp-hero {
            display: inline-block;
            font-weight: 500;
            font-size: 0.75rem;
            color: #333333;
            position: relative;
            line-height: 1;
            padding: 15px 15px 18px 0;
            width: auto;
            @media (min-width: g.$desktop-breakpoint-md) {
                width: auto;
                font-size: 1.125rem;
                padding: 15px 15px 18px 0;
            }

            &:before,
            &:after {
                content: "";
                background-color: #BCC2CB;
                width: 26px;
                height: 26px;
                position: absolute;
            }

            &:before {
                height: 1px;
                bottom: 10px;
                right: 0;
            }

            &:after {
                width: 1px;
                bottom: 5px;
                right: 5px;
            }

        }

        .text-en-hero {
            display: block;
            font-family: g.$font-public-sans;
            font-style: italic;
            font-weight: 500;
            font-size: 2.375rem;
            color: #954802;
            background: linear-gradient(76deg, #691902 0%, #954802 100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent;
            line-height: 1;
            @media (min-width: g.$desktop-breakpoint-md) {
                font-size: 2.625rem;
            }
        }
    }

    .page-about {
        width: 100%;
        height: 100%;
        position: relative;
        margin-top: 50px;
        @media (min-width: g.$desktop-breakpoint-md) {
            margin-top: 130px;
        }
    }

    .aboutus-intro-bg {
        position: relative;
        padding-top: 50px;
        padding-bottom: 50px;
        @media (min-width: g.$desktop-breakpoint-md) {
            padding-top: 130px;
            padding-bottom: 130px;
        }
        &:after {
            content: "";
            top: -20px;
            right: -50px;
            width: 562px;
            height: 768px;
            z-index: 1;
            position: absolute;
            background-image: url(/assets/img/about/bg_aboutus_intro_sp.webp);
            background-size: contain;
            background-position: center top;
            background-repeat: no-repeat;
            @media (min-width: g.$desktop-breakpoint-md) {
                background-image: url(/assets/img/about/bg_aboutus_intro.png);
                background-size: contain;
                background-position: center top;
                background-repeat: no-repeat;
                width: 1522px;
                height: 2082px;
                left: 50%;
                top: 0;
                transform: translateX(-50%);
                top: -340px;
            }
        }
    }

    .aboutus-intro {
        position: relative;
        z-index: 3;
        margin-bottom: 40px;
        @media (min-width: g.$desktop-breakpoint-md) {
            margin-bottom: 150px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 150px;
        }

        .aboutus-intro__media {
            position: relative;
            z-index: 10;
            width: calc(100% - 30px);
            margin: 0 auto 20px;
            z-index: 2;
            @media (min-width: g.$desktop-breakpoint-md) {
                width: 50%;
                margin: 0;
            }

            .aboutus-intro__partscloss_01 {
                position: absolute;
                left: -10px;
                top: -10px;
                width: 20px;
                z-index: 2;
                @media (min-width: g.$desktop-breakpoint-md) {
                    width: 80px;
                    left: -35px;
                    top: -35px
                }

                svg {
                    width: 100% !important;
                    height: auto !important;
                }
            }

            .aboutus-intro__partscloss_02 {
                position: absolute;
                right: -10px;
                bottom: -15px;
                width: 20px;
                z-index: 5;
                @media (min-width: g.$desktop-breakpoint-md) {
                    width: 80px;
                    right: -30px;
                    bottom: -45px;
                }

                svg {
                    width: 100% !important;
                    height: auto !important;
                }
            }

            .aboutus-intro__media-inner {
                aspect-ratio: 600 / 460;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                }
            }

        }

        .aboutus-intro__body {
            box-sizing: border-box;
            width: 100%;
            @media (min-width: g.$desktop-breakpoint-md) {
                width: 50%;
                padding-left: 40px;
            }

            .aboutus-intro-title {
                display: inline-block;
                font-weight: 500;
                font-size: 1.0625rem;
                color: #274374;
                position: relative;
                line-height: 1;
                padding: 0 15px 18px 0;
                margin-bottom: 20px;
                width: auto;
                @media (min-width: g.$desktop-breakpoint-md) {
                    width: auto;
                    font-size: 2.125rem;
                    padding: 0 15px 18px 0;
                    margin-bottom: 25px;
                }

                &:before,
                &:after {
                    content: "";
                    background-color: #BCC2CB;
                    width: 26px;
                    height: 26px;
                    position: absolute;
                }

                &:before {
                    height: 1px;
                    bottom: 10px;
                    right: 0;
                }

                &:after {
                    width: 1px;
                    bottom: 5px;
                    right: 5px;
                }
            }

            .aboutus-intro-lead {
                font-size: 0.875rem;
                font-weight: 400;
                font-family: g.$font-noto-sans;
                @media (min-width: g.$desktop-breakpoint-md) {
                    width: auto;
                    font-size: 1.125rem;
                }
            }
        }
    }

    .aboutus-intro-list {
        position: relative;
        z-index: 3;
        border-top: solid 1px #BCC2CB;
        .aboutus-intro-list-item {
            border-bottom: solid 1px #BCC2CB;
            padding: 30px 0;
            @media (min-width: g.$desktop-breakpoint-md) {
                padding: 35px 20px;
            }

            .aboutus-intro-badge {
                    font-size: 1rem;
                    font-weight: 400;
                    background-color: #274374;
                    border-radius: 50rem;
                    min-width: 100px;
                    padding-left: 20px;
                    padding-right: 20px;
                    height: 30px;
                    line-height: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #ffffff;
                    width: 140px;
                    margin: 0 auto;
                    margin-bottom: 15px;
                @media (min-width: g.$desktop-breakpoint-md) {
                    font-size: 1.25rem;
                    width: 164px;
                    height: 40px;
                    margin: 0;
                    margin-bottom: 20px;
                }
            }

            .badge-text {
                font-family: g.$font-noto-serif;
                font-weight: 400;
                font-size: 1.75rem;
                color: #274374;
                line-height: 1.5;
                @media (min-width: g.$desktop-breakpoint-md) {
                    font-size: 2.5rem;
                }
            }

            .badge-text-sm {
                font-weight: 400;
                font-size: 0.875rem;
                line-height: 2;
                margin-top: 40px;
                @media (min-width: g.$desktop-breakpoint-md) {
                    font-size: 1.125rem;
                    margin-top: 25px;
                }
            }
        }
    }

    .aboutus-message {
        background-image: url(/assets/img/about/bg_aboutus-message.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 40px 0;
        position: relative;
        @media (min-width: g.$desktop-breakpoint-md) {
            padding: 85px 0;
        }

        .aboutus-message-row {
            display: grid;
            grid-template-columns: 1;
            gap: 20px;
            @media (min-width: g.$desktop-breakpoint-md) {
                display: flex;
                flex-wrap: wrap;
                gap: 0;
            }
        }

        .aboutus-message_disc {
            width: 100%;
            box-sizing: border-box;
            @media (min-width: g.$desktop-breakpoint-md) {
                width: 50%;
                padding-right: 40px;
            }

            @media (min-width: g.$desktop-breakpoint-lg) {
                width: 41%;
            }
        }

        .aboutus-message__media {
            position: relative;
            z-index: 10;
            width: calc(100% - 30px);
            margin: 0 auto 20px;
            z-index: 2;
            @media (min-width: g.$desktop-breakpoint-md) {
                width: 50%;
                margin: 0;
            }

            @media (min-width: g.$desktop-breakpoint-lg) {
                width: 59%;
            }

            .aboutus-message__partscloss_01 {
                position: absolute;
                left: -10px;
                top: -10px;
                width: 20px;
                z-index: 2;
                @media (min-width: g.$desktop-breakpoint-md) {
                    width: 80px;
                    left: -35px;
                    top: -35px
                }

                svg {
                    width: 100% !important;
                    height: auto !important;
                }
            }

            .aboutus-message__partscloss_02 {
                position: absolute;
                right: -10px;
                bottom: -15px;
                width: 20px;
                z-index: 5;
                @media (min-width: g.$desktop-breakpoint-md) {
                    width: 80px;
                    right: -35px;
                    bottom: -40px;
                }

                svg {
                    width: 100% !important;
                    height: auto !important;
                }
            }

            .aboutus-message__media-inner {
                aspect-ratio: 708 / 579;
                overflow: hidden;
                border-radius: 10px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top center;
                    display: block;
                }
            }

        }
        
        .aboutus-message-head {
            .aboutus-message-title {
                display: inline-block;
                font-weight: 500;
                font-size: 1.0625rem;
                color: #333333;
                position: relative;
                line-height: 1;
                padding: 0 15px 18px 0;
                margin-bottom: 20px;
                width: auto;
                @media (min-width: g.$desktop-breakpoint-md) {
                    width: auto;
                    font-weight: 400;
                    font-size: 1.25rem;
                    padding: 0 15px 18px 0;
                    margin-bottom: 25px;
                }

                &:before,
                &:after {
                    content: "";
                    background-color: #BCC2CB;
                    width: 26px;
                    height: 26px;
                    position: absolute;
                }

                &:before {
                    height: 1px;
                    bottom: 10px;
                    right: 0;
                }

                &:after {
                    width: 1px;
                    bottom: 5px;
                    right: 5px;
                }
            }

            .aboutus-message-title-sub {
                font-family: g.$font-noto-serif;
                font-weight: 400;
                font-size: 1.75rem;
                color: #274374;
                line-height: 1.5;
                margin-bottom: 30px;
                @media (min-width: g.$desktop-breakpoint-md) {
                    font-size: 2rem;
                    margin-bottom: 30px;
                }
            }
        }

        .aboutus-message-body {
            width: 100%;
            @media (min-width: g.$desktop-breakpoint-md) {
                    font-size: 1.125rem;
            }
            .aboutus-message-text {
                font-size: 0.875rem;
                line-height: 2.1;
                @media (min-width: g.$desktop-breakpoint-md) {
                    font-size: 1.125rem;
                }

            }
        }

        .message-sign {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            margin-top: 50px;
            flex-flow: column;
            @media (min-width: g.$desktop-breakpoint-xl) {
                margin-top: 0;
                flex-flow: row;
                margin-top: 59px;
            }
            .sign-company {
                font-size: 0.875rem;
                font-weight: 400;
                line-height: 1;
                margin-bottom: 15px;
                @media (min-width: g.$desktop-breakpoint-md) {
                    font-size: 1.125rem;
                    margin-bottom: 0;
                }
                @media (min-width: g.$desktop-breakpoint-xl) {
                    //margin-bottom: 0;
                }
            }

            .sign-name {
                font-size: 1.125rem;
                font-weight: 400;
                line-height: 1;
                @media (min-width: g.$desktop-breakpoint-md) {
                    font-size: 1.5rem;
                    margin-left: 1rem;
                }
            }
        }

    }


    .aboutus-company {
        position: relative;
        padding: 40px 0;
        position: relative;
        @media (min-width: g.$desktop-breakpoint-md) {
            padding: 85px 0;
        }
    }

    .aboutus-company__title {
        display: inline-block;
        font-weight: 500;
        font-size: 1.0625rem;
        color: #274374;
        position: relative;
        line-height: 1;
        padding: 0 15px 18px 0;
        margin-bottom: 20px;
        width: auto;
        @media (min-width: g.$desktop-breakpoint-md) {
            width: auto;
            font-size: 2.125rem;
            padding: 0 15px 18px 0;
            margin-bottom: 25px;
        }

        &:before,
        &:after {
            content: "";
            background-color: #BCC2CB;
            width: 26px;
            height: 26px;
            position: absolute;
        }

        &:before {
            height: 1px;
            bottom: 10px;
            right: 0;
        }

        &:after {
            width: 1px;
            bottom: 5px;
            right: 5px;
        }
    }

    .company-grid--3col {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        @media (min-width: g.$desktop-breakpoint-md) {
            grid-template-columns: repeat(3,1fr);
        }

        .deflist {
            
        }

        .deflist {
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 35px;

            font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN",
             "Hiragino Sans", "ヒラギノ角ゴシック",
             "Hiragino Kaku Gothic Pro",
             "游ゴシック体", "Yu Gothic", "YuGothic",
             "メイリオ", "Meiryo",
             "Noto Sans JP",
             "MS PGothic", sans-serif;
            dt {
                font-size: 0.875rem;    
                font-weight: 700;
                color: #274374;
                line-height: 1.8;
                margin-bottom: 10px;
                @media (min-width: g.$desktop-breakpoint-md) {
                    font-size: 1.125rem;    
                }
            }   

            dd {
                font-size: 0.875rem;    
                font-weight: 400;
                color: #333333;
                line-height: 1.8;
                @media (min-width: g.$desktop-breakpoint-md) {
                    font-size: 1.125rem;    
                }

                a {
                    color: #333333;
                }
            } 
        }
    }


    .company-ctas {
        position: relative;
        padding: 40px 0;
        background-color: #F5F6F8;
        @media (min-width: g.$desktop-breakpoint-md) {
            padding: 120px 0;
        }
    }

    .company-ctas-row {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        @media (min-width: g.$desktop-breakpoint-md) {
            grid-template-columns: repeat(2,1fr);
        }
        .company-ctas__link {
            transition: all .3s ease;
            @media (min-width: g.$desktop-breakpoint-md) {
                &:hover {
                opacity: 0.85; 
                }
            }
        }
    }
}